:root{
    --blanco:#ffffff;
    --oscuro: #EB6440;
    --primario: #D6E4E5;
    --secundario:#497174;
    --gris: #EFF5F5;
    --grisClaro: #dfe9f3;
}

@media (min-width: 780px) {
    .boton{width: auto;}
}

html {
    font-size: 65.5%
}

body {
    font-family: 'Fragment Mono', monospace;
    font-family: 'Krub', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    background-color: #202020;
}

/*.boton{
    background-color: var(--secundario);
    padding: 1rem 3rem;
    margin-top: 2rem;
    color:var(--blanco);
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: .5rem;
    border: none;
    width:80%;
    text-align: center;
}*/

.titulo{
    font-size: 3.8rem;
    color: var(--primario);
    text-align: center;
}

.bg-color{
    background-color: var(--secundario);
    border-radius: 3rem;
}

.sombra {
    background-color: var(--blanco);
    box-shadow: 1px -2px 11px 0px rgba(87,86,87,1);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.navegacion-principal {
    height:5rem ;
    margin:2rem auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.navegacion-principal a {
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
    color: var(--blanco);
    padding: 10px;
    border-radius: 5rem;
}

.navegacion-principal a:hover {
    text-decoration: none;
    color: var(--white);
    background-color:var(--primario);
    margin: 0.15rem;
    position:static;
}

.location {
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foot {
    font-size: 1rem;
    color: var(--primario);
    text-align: center;
}

.redes {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
}

.nombreredes {
    display: flex;
    justify-content: space-around;
}

.titlespage {
    display: flex;
    justify-content: space-around;
}

.textpage {
    display: flex;
    justify-content:center;
    column-gap: 3rem;
    flex-wrap: wrap;
}

.contacto {
    display: flex;
    justify-content: space-around;  
}
.orden0 {
    text-align: center;
}

.orden1 {
    text-align:center;
    padding-left: 30rem;
}

.orden2 {
    position:relative;
    text-align:center;
    padding-right:30rem;
}

.imagenpersonal {
    position: relative;
    top: 2rem;
    left: 3rem;
    height: 250px;
    border-radius: 2rem;
}

.icono1 {
    height: 100px;
    position: relative;
    left: 45rem;
}

.icono2 {
    height: 100px;
    position: relative;
    left: 50rem;
    top: 10rem;
}

.icono3 {
    height: 100px;
    position:relative;
    left: 27rem;
    top: 18rem;   

}

.iconoig {
    position: relative;
}

.iconotw {
    position: relative;
    left: 35rem;
}

.iconofb {
    position: relative;
}

.iconoli {
    position: relative;
}
